<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IP" value ="10.0.112.165"/>
    <add key="Port" value ="9004"/>
    <add key="Path" value ="\\200.100.100.229\KasinII\image\Image\IV00019\0000\"/>
  </appSettings>
</configuration>